<!DOCTYPE html>
<html lang="en">
<head>
	<title> Falcon Fitness Center </title>
	<meta charset="utf-8">
	<style>
	nav{
		background-color:;
		}
	nav ul{
		text-align:center;
		border: none;
	}
	nav ul li{
		list-style: none;
		display: inline-block;
	}
	nav ul li a{
		display: block;
		text-decoration: none;
		color: ;
		font-size: px;
		font-family: Times New Roman, Sans-serif;
		letter-spacing: 1px;
		font-weight: 500;
		padding: 25px;
	}
	nav ul li a:hover{
		background-color: #398ff720;
		transition: all ease 1.5s;
	}
	</style>
</head>
<body>
<div id="container">
	
	<header>
	</header>
	<nav>
	<ul>
		<li><a href="index.html"><img src="images/FFC1logo.png" alt="Falcon Fitness Center Logo" height="300" width="300"></a><br>
		<li><a href="index.html">Home</a></li>
		<li><a href="about.html">About Us</a></li>
		<li><a href="classes.html">Classes</a></li>
		<li><a href="nutrition.html">Nutrition</a></li>
		<li><a href="contact.html">Contact Us</a></li>
	<ul>
	</nav>
	<main>
	
	</main>
	<footer>
		&copy; Copyright 2022. All Rights Reserved. <br>
		<a
	href="mailto:falconfitnesscenter515@gmail.com">falconfitnesscenter515@gmail.com</a
	</footer>
</div>
</body>
</html>